body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
input,button{outline-style: none;}
table { border-collapse:collapse; border-spacing:0; }
html,body{height: 100%;}
body{font-size: 16px;font-family: "Songti SC",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;color:#fff;}
input{width:100%;background:transparent;border:none;color:#000;-webkit-appearance: none; /*去除系统默认的样式*/-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/}
input::placeholder{color:#959595;}
textarea{border:none;-webkit-appearance: none;}
img{max-width: 100%;}
i{margin-right:2px ;}


@font-face {
  font-family: 'ds-digitalnormal';
  src: url('../font/ds-digib-webfont.eot');
  src: url('../font/ds-digib-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/ds-digib-webfont.woff2') format('woff2'),
       url('../font/ds-digib-webfont.woff') format('woff'),
       url('../font/ds-digib-webfont.svg#ds-digitalnormal') format('svg');
  font-weight: normal;
  font-style: normal;

}

.j-Liquid-crystal{font-family: 'ds-digitalnormal'}        /*液晶体 */

/* 隐藏高德地图标识 */
.amap-logo,.amap-copyright{display: none !important;}
/* 隐藏百度地图标识 */
.anchorBL{display: none;}

/* 全局滚动条样式重置 */
::-webkit-scrollbar{width:6px; height:6px}
::-webkit-scrollbar-thumb{border-radius:1em;background-color:rgba(50,50,50,0.3)}
::-webkit-scrollbar-thumb:hover{background-color:rgba(50,50,50,0.6)}
::-webkit-scrollbar-track {border-radius: 1em;background-color:rgba(50,50,50,0.1)}
::-webkit-scrollbar-track:hover{background-color: rgba(50,50,50,0.2)}
::selection{background:#444;/* Safari */color:#FFF;text-shadow:1px 1px 0px rgba(0,0,0,0.3)}
::-moz-selection{background: #444;/* Mozilla */color:#FFF;text-shadow:1px 1px 0px rgba(0,0,0,0.3)}

.flex{display: flex;}
.j-flex{display: flex;justify-content: space-between;align-items: center;}
.j-flex-a{display: flex;align-items: center;}
.j-flex-b{display: flex;justify-content: space-between;}
.j-flex-col{display: flex;flex-direction: column;}
.j-flex-row{ display: flex;display: -webkit-flex;justify-content: space-between;flex-direction: row;flex-wrap: wrap;}
/* 多行垂直居中 */
.j-v-c{display: flex;flex-direction: column;justify-content: center;align-items: center;}


/* flex布局下 失效 文字超出省略号 单行  和 多行 webkit-line-clamp设置行数*/
.text-wrap{text-overflow: ellipsis;white-space: normal;word-break: break-all;}
.text-overflow{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*flex布局下也能生效 文字超出省略号   */
.text-overflowMut{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;}

.j-vh{width: 100vw;height: 100vh;box-sizing: border-box;overflow: auto;}
.j-full-curbox{position:absolute;top:0;left:0;right:0;bottom:0;margin:0;overflow:auto;}
.j-full-center{position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);}

/* 图片与背景cover */
.j-img-fit{object-fit:cover}
.j-bg-fit{background-repeat: no-repeat;background-position:center;background-size: cover;}

/* button */
.el-button{padding:6px 10px;line-height:1;font-weight: 500;font-size: 14px;box-sizing: border-box;color:#515a6e;background: #fff;outline: none;border:1px solid #dcdfe6;border-radius: 4px;white-space: nowrap;cursor: pointer;transition: .1s;}
.el-button:hover {color: #409eff;border-color: #c6e2ff;background-color: #ecf5ff;}
.el-button-primary {color: #fff;background-color: #409eff;border-color: #409eff;}
.el-button-primary:hover{background: #66b1ff;border-color: #66b1ff;color: #fff;}
.el-button-success {color: #fff;background-color: #67c23a;border-color: #67c23a;}
.el-button-success:hover {background: #85ce61;border-color: #85ce61;color: #fff;}
.el-button-warning {color: #fff;background-color: #e6a23c;border-color: #e6a23c;}
.el-button-warning:hover {background: #ebb563;border-color: #ebb563;color: #fff;}
.el-button-danger {color: #fff;background-color: #f56c6c;border-color: #f56c6c;}
.el-button-danger:hover {background: #f78989;border-color: #f78989; color: #fff;}
.el-disabled {pointer-events: none;cursor: default;opacity: 0.6;}


/* margin */
.m-5{margin:5px;}
.mb-5{margin-bottom:5px;}
.mt-5{margin-top: 5px;}
.mr-5{margin-right:5px;}
.ml-5{margin-left: 5px;}

.m-10{margin:10px;}
.mb-10{margin-bottom:10px;}
.mt-10{margin-top: 10px;}
.mr-10{margin-right:10px;}
.ml-10{margin-left: 10px;}

.m-15{margin:15px;}
.mb-15{margin-bottom:15px;}
.mt-15{margin-top: 15px;}
.mr-15{margin-right:15px;}
.ml-15{margin-left: 15px;}

.m-20{margin:20px;}
.mb-20{margin-bottom:20px;}
.mt-20{margin-top: 20px;}
.mr-20{margin-right:20px;}
.ml-20{margin-left: 20px;}

.m-30{margin:30px;}
.mb-30{margin-bottom:30px;}
.mt-30{margin-top: 30px;}
.mr-30{margin-right:30px;}
.ml-30{margin-left: 30px;}

/* padding */
.p-5{padding:5px;}
.pb-5{padding-bottom:5px;}
.pt-5{padding-top: 5px;}
.pr-5{padding-right:5px;}
.pl-5{padding-left: 5px;}

.p-10{padding:10px;}
.pb-10{padding-bottom:10px;}
.pt-10{padding-top: 10px;}
.pr-10{padding-right:10px;}
.pl-10{padding-left: 10px;}

.p-15{padding:15px;}
.pb-15{padding-bottom:15px;}
.pt-15{padding-top: 15px;}
.pr-15{padding-right:15px;}
.pl-15{padding-left: 15px;}

.p-20{padding:20px;}
.pb-20{padding-bottom:20px;}
.pt-20{padding-top: 20px;}
.pr-20{padding-right:20px;}
.pl-20{padding-left: 20px;}

.p-30{padding:30px;}
.pb-30{padding-bottom:30px;}
.pt-30{padding-top: 30px;}
.pr-30{padding-right:30px;}
.pl-30{padding-left: 30px;}


/* 字体 */
.font12 { font-size: 12px;}
.font14 { font-size: 14px;}
.font16 { font-size: 16px;}
.font18 { font-size: 18px;}
.font20 { font-size: 20px;}
.font22 { font-size: 22px;}
.font24 { font-size: 24px;}
.font26 { font-size: 26px;}
.font28 { font-size: 28px;}
.font30 { font-size: 30px;}


/* 加载动画css */
.loader {position: absolute;top: calc(50% - 32px);left: calc(50% - 32px);width: 64px;height: 64px;border-radius: 50%;perspective: 800px;-webkit-perspective:800;background-image: radial-gradient(circle farthest-corner at center, #0fb2f8 0%, #114996 100%);}

.inner {position: absolute;box-sizing: border-box;width: 100%;height: 100%;border-radius: 50%;}

.inner.one {left: 0%;top: 0%;animation: rotate-one 1s linear infinite;border-bottom: 3px solid #EFEFFA;}

.inner.two {right: 0%;top: 0%;animation: rotate-two 1s linear infinite;border-right: 3px solid #EFEFFA;}

.inner.three {right: 0%;bottom: 0%;animation: rotate-three 1s linear infinite;border-top: 3px solid #EFEFFA;} 

@keyframes rotate-one {
  0% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}

@keyframes rotate-two {
  0% {transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
  100% {transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}

@keyframes rotate-three {
  0% {transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
  100% {transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}